#root {
  max-width: 1680px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.garment-img {
  max-width: 100px;
  max-height: 175px;
}
.garment-img:hover {
  transform: scale(1.1);
}

.img-gallery {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
@media (max-width: 700px) {
  .img-gallery {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
@media (max-width: 500px) {
  .img-gallery {
    grid-template-columns: 33% 34% 33%;
  }
}
@media (max-width: 400px) {
  .img-gallery {
    grid-template-columns: 50% 50%;
  }
}

.icon {
  filter:
    invert(96%)
    sepia(7%)
    saturate(941%)
    hue-rotate(314deg)
    brightness(102%)
    contrast(103%);
  
  max-width: 30px;
  max-height: 30px;
}

nav {
  width: 100%;
}

input {
  min-height: 2rem;
  padding: 0.3rem !important;
  border-radius: 0.375rem;
  color: #fff4e8;
}

select {
  margin-left: 1rem !important;
  padding: 0.5rem !important;
}