#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.garment-img {
  max-width: 100px;
}
.garment-img:hover {
  transform: scale(1.1);
}

.img-gallery {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
@media (max-width: 700px) {
  .img-gallery {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
@media (max-width: 500px) {
  .img-gallery {
    grid-template-columns: 33% 34% 33%;
  }
}
@media (max-width: 400px) {
  .img-gallery {
    grid-template-columns: 50% 50%;
  }
}