#root {
  max-width: 1680px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.garment-img {
  max-width: 100px;
  max-height: 175px;
}
.garment-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.img-gallery {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
@media (max-width: 700px) {
  .img-gallery {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
@media (max-width: 500px) {
  .img-gallery {
    grid-template-columns: 33% 34% 33%;
  }
}
@media (max-width: 400px) {
  .img-gallery {
    grid-template-columns: 50% 50%;
  }
}

.random-fit-section {
  width: 100%;
  align-items: center;
}
.fullwidth {
  width: 100%;
}

.panel {
  background: #0a091a;
  color: #fff4e8;

  border-radius: 12px;
  border: 2px solid #fff4e8;

  padding: 12px;
  gap: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.garment-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
@media (max-width: 1550px) {
  .garment-grid {
    grid-template-columns: 33% 34% 33%;
  }
}
@media (max-width: 1200px) {
  .garment-grid {
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 750px) {
  .garment-grid {
    grid-template-columns: 100%;
  }
}

.tiny-grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.tiny-garment-img {
  max-width: 64px;
  max-height: 64px;
  margin: 24px;
}

.split-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0.25rem;
  padding: 0.5rem;
  background: black;
  border: 2px solid #fff4e8;
  border-radius: 6px;
}
.garment-specification {
  text-align: end;
  display: flex;
  flex-direction: column;
}


.icon {
  filter:
    invert(96%)
    sepia(7%)
    saturate(941%)
    hue-rotate(314deg)
    brightness(102%)
    contrast(103%);
  
  max-width: 30px;
  max-height: 30px;
}

nav {
  width: 100%;
}

input {
  min-height: 2rem;
  padding: 0.3rem !important;
  border-radius: 0.375rem;
  color: #fff4e8;
}

select {
  margin-left: 1rem !important;
  padding: 0.5rem !important;
}